# .github/.secrets.example   (fill with dummy values for local runs)
APP_ID=123456
APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAkYEvVcAJLinqm5FNEV1zRI/32vWC8Ts5hEqhBmbpQiin0NbJ
qjbPSCFyhhvNNUpAENt6/p/peNrUpZI5v1QhoX32VzhUoHQtNKDJpXoMQnQRWPH0
gP9hWyKUOsnVZQlpi2XhUoltdiMYqVjDSuEuspVxKtvA3BnXHiJdazNaU4HiHmDD
/R5Bsk65wMMlqG5FekED0IZRVmy2WL8q88bhqtXSkYRDfTZt2EtN00U7iLtR6tca
+yKzcr5RUlKyVI84YEdOrHv1UUVuW5IXVHu8eMAVKkihEcQ/vmoA1NkwuD14j3fA
34BjYGoQ4gK0pOHvpy5lB7LGVohkfVL4Vxh9iwIDAQABAoIBAAxYIWPs/tpjw/ue
wCMRAo52iFiTK6C7nY2Tp0WbxX5PZK1bC5DdRYihDc5C3Y3/1p+Xfz/K4UvXhOLn
HO8WfCPvQ87ygHt8X7lvSqw3RoL8xdv96vhmsiPBM0IpjWkc+09QPWV7M0YqhBUZ
6reXkxajhw5TxnDl4FI2KCbIHImpAn5wFnmsKnUpLTTXxIjHMt5xR3xFyIi62Abm
Tcb6MzhLtzK2+zeshaOHvMYfxD7yc3iSWKoKMlELGlCYyf5Tfu5f5pUqdQrk758i
T7ByzipYxhJC4/6WTEIf7jIURkIcrzq3cW+y6a1T1A9c3lVzfUYIjLKEuUKGAeNO
FBklbMECgYEAwfyIYVR834EtIthK/Nhhu81tob9fotk9ZDZDq5Gg85CEJYcTGumq
e1LP7ViXrey0pZdgglN5QD6FrsH15vt3Z7XCKwnEKpjHzYan6MHw9Iuo90pgVp2y
mvat6Gh2c5YkLlCp2dY7BPrts8QzO6tC537vj9k3x97940ZxzzBwxN0CgYEAwAT+
1d6n0tgxUcAXOKBcTQG49SZFxQbKW//vT5+pslDiFzJOoRZSPalVDhF9jyRfs43D
J71DN8BPr6ds4duaVevFXxMD8AulSzAs6BdmYOuqb4HvXqT0C4dzJfWqLqhoynUD
HxBwCI+XjrI1+oadEI8dMAWHWAJw4sP1FDDmEYcCgYA4Oi59p7OaRSMEGpWBvGZ3
vQ+t9n6OAVHeHix3Knrwnk7vYbuT7W7Q2CwUq70rWJTz+nCq1e8rQ/QTt3zDOthd
Yz2oo+gMQMSJOiKpQK3K9EBBjXlnIcaHTEEUQFM1JavPEOpqjcIFq4YCuTfwb6+w
0gY2N8wHTwdgPSb32x6UsQKBgQCmQy0MrjAORpfduz/gDiodm4I08qCyywBozKDA
BvV+qr45a5vdq2Amd/pnpglb6hjbdcInJJ+RJHlbFNMYdXebMfzCJ8rfDJZhFiOs
CqbhAO2gg5dqEdYmLXAszBxBLh0eQFcljKwVHZATRIesluZksiaJsB/SurpX/2iz
xOtQ/QKBgDPFdPi89/Xro2x8Qx0MJOnoYVJ9f6lnG4jpjTkV+l7NlJwpgvR1abfP
ywDpnfEFL4mTZxE6cA1wjbCNI+XoYivzu7RLA3neTESmwy5AatgyK+cEIJrYODqF
RK430aHpU/WE9N1Yd8YxqzMnMyvYVhwjWonuR7GClFs19Ravzbxt
-----END RSA PRIVATE KEY-----"
NPM_TOKEN=fake-npm-token
